[Unit]
Description=Celery beat for rapidpro
After=network.target

[Service]
User=rapidpro
Group=www-data
WorkingDirectory=/home/rapidpro/temba

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/rapidpro/
ExecStartPre=/bin/chown -R rapidpro:www-data /var/run/rapidpro/

ExecStart=/home/rapidpro/.virtualenvs/rapidpro/bin/celery beat -A temba --logfile=/var/log/rapidpro/celery-beat.log --pidfile=/var/run/rapidpro/celerybeat.pid

Restart=always

[Install]
WantedBy=multi-user.target
