[Unit]
Description=mage Twitter service

[Service]
Type=simple
User=rapidpro
Group=www-data
WorkingDirectory=/home/rapidpro/mage
EnvironmentFile=/home/rapidpro/mage/environ.sh

ExecStart=/bin/sh -c "exec java -jar /home/rapidpro/mage/mage.jar server /home/rapidpro/mage/config.yml"

Restart=always

[Install]
WantedBy=multi-user.target
